<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Work Orders" defaultHref="/app/tabs/(workorders:workorders)"></ion-back-button>
    </ion-buttons>
    <ion-title>{{workorder?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="workorder">
    <h1>{{workorder.name}}</h1>
    <h4 *ngFor="let speaker of workorder?.speakers">
      {{speaker.name}}
    </h4>
    <p>
      {{workorder.timeStart}} - {{workorder.timeEnd}}
    </p>
    <p>{{workorder.location}}</p>
    <p>{{workorder.description}}</p>
  </div>
</ion-content>
