page-login {
  .list {
    padding: 20px 0;
    margin-bottom: 0;
  }
  
  form {
    margin: auto;
  }

  form ion-label.label-stacked {
    font-size: 0.9rem !important; // default is 12px 
  }

  $md: 768px;
  // @media screen and (min-width: $breakpoint-min-sm) {
  @media screen and (min-width: $md) {
    form {
      // max-width: 40vw;
      // max-width: 1000px;
      max-width: 745px;
    }
  }
}

// .md {
//   page-login {
//     form {
//       // max-width: 40vw;
//       // max-width: 1000px;
//       max-width: 745px;
//     }
//   }
// }
